@if ((klient.Model.Uzytkownik)ViewBag.Uzytkownik == null)
{
    <meta http-equiv="refresh" content="0; URL=../../../../../../../../../../../../Home/Index">
}
<style>
    .tablesize {
        margin-left: 5%;
        margin-right: 5%;
    }

    .detailsheader {
        background-color: white;
    }

    .headertekst {
        font-size: 20px;
        margin-left: 3%;
    }

    .bladtekst {
        color: red;
        font-size: 20px;
    }
</style>
<script>
    function Wyloguj()
    {
        window.location.href = "../../../../../../../../../Home/Wylogowywanie";
    }
    function Modyfikuj(nazwaTablicy)
    {
        window.location.href = "../../../../../../../../../Home/Dodaj/" + nazwaTablicy;
    }
    function Dodaj(nazwaTablicy)
    {
        window.location.href = "../../../../../../../../../Home/Dodawanie/" + nazwaTablicy;
    }
</script>
@{
    <div class="detailsheader">
        @if ((klient.Model.Uzytkownik)ViewBag.Uzytkownik != null)
        {
            klient.Model.Uzytkownik Uzytkownik = (klient.Model.Uzytkownik)ViewBag.Uzytkownik;
            klient.Model.Rola Rola = (klient.Model.Rola)ViewBag.Rola;
            <p style="font-size:15px"><b>Uzytkownik: @Uzytkownik.NazwaUzytkownika Rola: @Rola.Nazwa </b></p>
            klient.Model.Operacja Operacja = (klient.Model.Operacja)ViewBag.Przywilej;
            string nazwaTabeli = (string)ViewBag.NazwaWybranejTabeli;
            <p style="font-size:15px"><b>Operacja @Operacja.NazwaOperacji na tabeli @nazwaTabeli </b></p>
            <button type="button" onclick="Wyloguj()">Wyloguj</button>
        }
    </div>
    <div class="tablesize">
        <table>
            <tr>
                <td>
                    @if ((klient.Model.Uzytkownik)ViewBag.Uzytkownik != null)
                    {
                        if (ViewBag.Blad != null)
                        {
                            string Blad = (string)ViewBag.Blad;
                            <p class="bladtekst"><b>@Blad</b></p>
                        }
                        <table>
                        @{
                            string nazwaTabeli = (string)ViewBag.NazwaWybranejTabeli;
                            klient.Model.Operacja Operacja = (klient.Model.Operacja)ViewBag.Przywilej;
                            switch (nazwaTabeli)
                            {
                                case "Studenci":
                                    klient.Model.Student student = (klient.Model.Student)ViewBag.Dana;
                                    <tr><td><p style="font-size:15px"><b>Imie <input id="login" type="text" name="fname" value="@student.Imie"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Nazwisko <input id="login" type="text" name="fname" value="@student.Nazwisko"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>NrIndeksu <input id="login" type="text" name="fname" value="@student.NrIndeksu"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Pesel <input id="login" type="text" name="fname" value="@student.Pesel"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Rok <input id="login" type="text" name="fname" value="@student.Rok"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Semestr <input id="login" type="text" name="fname" value="@student.Semestr"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>DlugEcts <input id="login" type="text" name="fname" value="@student.DlugEcts"></b></p></td></tr>
                                    <tr>
                                        <td colspan="100">
                                            @if (Operacja.NazwaOperacji == "t_Studenci_insert")
                                            { 
                                                <button type="button" onclick="Dodaj()">Dodaj</button>
                                            }
                                            else
                                            {
                                                <button type="button" onclick="Modyfikuj()">Modyfikuj</button>
                                            }
                                        </td>
                                    </tr>
                                    break;
                                case "Prowadzacy":
                                    klient.Model.Prowadzacy prowadzacy = (klient.Model.Prowadzacy)ViewBag.Dana;
                                    <tr><td><p style="font-size:15px"><b>Id <input id="login" type="text" name="fname" value="@prowadzacy.Id"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Imie <input id="login" type="text" name="fname" value="@prowadzacy.Imie"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Nazwisko <input id="login" type="text" name="fname" value="@prowadzacy.Nazwisko"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Pesel <input id="login" type="text" name="fname" value="@prowadzacy.Pesel"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Wiek <input id="login" type="text" name="fname" value="@prowadzacy.Wiek"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Staz <input id="login" type="text" name="fname" value="@prowadzacy.Staz"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Katedra <input id="login" type="text" name="fname" value="@prowadzacy.Katedra"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Tytuł <input id="login" type="text" name="fname" value="@prowadzacy.Tytul"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Wydział <input id="login" type="text" name="fname" value="@prowadzacy.Wydzial"></b></p></td></tr>
                                    <tr>
                                        <td colspan="100">
                                            @if (Operacja.NazwaOperacji == "t_Prowadzacy_insert")
                                            {
                                                <button type="button" onclick="Dodaj()">Dodaj</button>
                                            }
                                            else
                                            {
                                                <button type="button" onclick="Modyfikuj()">Modyfikuj</button>
                                            }
                                        </td>
                                    </tr>
                                    break;
                                case "Wyniki":
                                    klient.Model.Wynik wynik = (klient.Model.Wynik)ViewBag.Dana;
                                    <tr><td><p style="font-size:15px"><b>NrIndeksu <input id="login" type="text" name="fname" value="@wynik.NrIndeksu"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Przedmiot <input id="login" type="text" name="fname" value="@wynik.Przedmiot"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Ocena <input id="login" type="text" name="fname" value="@wynik.Ocena"></b></p></td></tr>
                                    <tr>
                                        <td colspan="100">
                                            @if (Operacja.NazwaOperacji == "t_Wyniki_insert")
                                            {
                                                <button type="button" onclick="Dodaj()">Dodaj</button>
                                            }
                                            else
                                            {
                                                <button type="button" onclick="Modyfikuj()">Modyfikuj</button>
                                            }
                                        </td>
                                    </tr>
                                            break;
                                case "Przedmioty":
                                    klient.Model.Przedmiot przedmiot = (klient.Model.Przedmiot)ViewBag.Dana;
                                    <tr><td><p style="font-size:15px"><b>Nazwa <input id="login" type="text" name="fname" value="@przedmiot.Nazwa"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Id Prowadzącego <input id="login" type="text" name="fname" value="@przedmiot.IdProwadzacego"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Semestr <input id="login" type="text" name="fname" value="@przedmiot.Semestr"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Ilość ECTS <input id="login" type="text" name="fname" value="@przedmiot.IloscEcts"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Ilość godzin <input id="login" type="text" name="fname" value="@przedmiot.IloscGodzin"></b></p></td></tr>
                                    <tr>
                                        <td colspan="100">
                                            @if (Operacja.NazwaOperacji == "t_Przedmioty_insert")
                                            {
                                                <button type="button" onclick="Dodaj()">Dodaj</button>
                                            }
                                            else
                                            {
                                                <button type="button" onclick="Modyfikuj()">Modyfikuj</button>
                                            }
                                        </td>
                                    </tr>
                                    break;
                                case "ProwadzacySkladowych":
                                    klient.Model.ProwadzacySkladowych prowadzacySkladowych = (klient.Model.ProwadzacySkladowych)ViewBag.Dana;
                                    <tr><td><p style="font-size:15px"><b>Id składowej <input id="login" type="text" name="fname" value="@prowadzacySkladowych.ID_Skladowej"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Id pracownika <input id="login" type="text" name="fname" value="@prowadzacySkladowych.ID_Pracownika"></b></p></td></tr>
                                    <tr>
                                        <td colspan="100">
                                            @if (Operacja.NazwaOperacji == "t_Prowadzacy_Skladowych_insert")
                                            {
                                                <button type="button" onclick="Dodaj()">Dodaj</button>
                                            }
                                            else
                                            {
                                                <button type="button" onclick="Modyfikuj()">Modyfikuj</button>
                                            }
                                        </td>
                                    </tr>
                                    break;
                                case "SkladowePrzedmiotow":
                                    klient.Model.SkladowaPrzedmiotu skladowaPrzedmiotu = (klient.Model.SkladowaPrzedmiotu)ViewBag.Dana;
                                    <tr><td><p style="font-size:15px"><b>Id <input id="login" type="text" name="fname" value="@skladowaPrzedmiotu.Id"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Nazwa <input id="login" type="text" name="fname" value="@skladowaPrzedmiotu.Nazwa"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Ilość godzin <input id="login" type="text" name="fname" value="@skladowaPrzedmiotu.IloscGodzin"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Przedmiot <input id="login" type="text" name="fname" value="@skladowaPrzedmiotu.Przedmiot"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Id odpowiedzialnego <input id="login" type="text" name="fname" value="@skladowaPrzedmiotu.IdOdpowiedzialnego"></b></p></td></tr>
                                    <tr>
                                        <td colspan="100">
                                            @if (Operacja.NazwaOperacji == "t_Skladowe_Przedmiotow_insert")
                                            {
                                                <button type="button" onclick="Dodaj()">Dodaj</button>
                                            }
                                            else
                                            {
                                                <button type="button" onclick="Modyfikuj()">Modyfikuj</button>
                                            }
                                        </td>
                                    </tr>
                                    break;
                            }
                        }
                        </table>
                    }
                </td>
            </tr>
        </table>
    </div>
}