@if ((klient.Model.Uzytkownik)ViewBag.Uzytkownik == null)
{
    <meta http-equiv="refresh" content="0; URL=../../../../../../../../../../../../Home/Index">
}
<style>
    .tablesize {
        margin-left: 5%;
        margin-right: 5%;
    }

    .detailsheader {
        background-color: white;
    }

    .headertekst {
        font-size: 20px;
        margin-left: 3%;
    }

    .bladtekst {
        color: red;
        font-size: 20px;
    }
</style>
<script>
    function Wyloguj()
    {
        window.location.href = "../../../../../../../../../Home/Wylogowywanie";
    }
    function Modyfikuj()
    {
        window.location.href = "../../../../../../../../../Home/Index/"+nazwaTablicy+"/"+strona;
    }
    function Dodaj()
    {
        window.location.href = "../../../../../../../../../Home/Dodawanie/" + nazwaTablicy;
    }
    function Sprawdz()
    {

    }
</script>
@{
    <div class="detailsheader">
        @if ((klient.Model.Uzytkownik)ViewBag.Uzytkownik != null)
        {
            klient.Model.Uzytkownik Uzytkownik = (klient.Model.Uzytkownik)ViewBag.Uzytkownik;
            klient.Model.Rola Rola = (klient.Model.Rola)ViewBag.Rola;
            <p style="font-size:15px"><b>Uzytkownik: @Uzytkownik.NazwaUzytkownika Rola: @Rola.Nazwa </b></p>
            klient.Model.Operacja Operacja = (klient.Model.Operacja)ViewBag.Przywilej;
            string nazwaTabeli = (string)ViewBag.NazwaWybranejTabeli;
            <p style="font-size:15px"><b>Operacja @Operacja.NazwaOperacji na tabeli @nazwaTabeli </b></p>
            <button type="button" onclick="Wyloguj()">Wyloguj</button>
        }
    </div>
    <div class="tablesize">
        <table>
            <tr>
                <td>
                    @if ((klient.Model.Uzytkownik)ViewBag.Uzytkownik != null)
                    {
                        if (ViewBag.Blad != null)
                        {
                            string Blad = (string)ViewBag.Blad;
                            <p class="bladtekst"><b>@Blad</b></p>
                        }
                        <table>
                        @{
                            string nazwaTabeli = (string)ViewBag.NazwaWybranejTabeli;
                            klient.Model.Operacja Operacja = (klient.Model.Operacja)ViewBag.Przywilej;
                            switch (nazwaTabeli)
                            {
                                case "Studenci":
                                    klient.Model.Student Dana = (klient.Model.Student)ViewBag.Dana;
                                    <tr><td><p style="font-size:15px"><b>Imie <input id="login" type="text" name="fname" value="@Dana.Imie"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Nazwisko <input id="login" type="text" name="fname" value="@Dana.Nazwisko"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>NrIndeksu <input id="login" type="text" name="fname" value="@Dana.NrIndeksu"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Pesel <input id="login" type="text" name="fname" value="@Dana.Pesel"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Rok <input id="login" type="text" name="fname" value="@Dana.Rok"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>Semestr <input id="login" type="text" name="fname" value="@Dana.Semestr"></b></p></td></tr>
                                    <tr><td><p style="font-size:15px"><b>DlugEcts <input id="login" type="text" name="fname" value="@Dana.DlugEcts"></b></p></td></tr>
                                    <tr>
                                        <td colspan="100">
                                            @if (Operacja.NazwaOperacji == "t_Studenci_insert")
                                            { 
                                                <button type="button" onclick="Dodaj()">Dodaj</button>
                                            }
                                            else
                                            {
                                                <button type="button" onclick="Modyfikuj()">Modyfikuj</button>
                                            }
                                        </td>
                                    </tr>

                                    break;
                                case "Prowadzacy":
                                    @*Operacje = (List<klient.Model.Operacja>)ViewBag.PrzywilejeDanejTabeliTabela;
                                    if (Operacje.Exists((o) => o.NazwaOperacji.Equals("t_" + nazwaTabeli + "_select")))
                                    {
                                        List<klient.Model.Prowadzacy> ProwadzacyList = (List<klient.Model.Prowadzacy>)ViewBag.DaneTabeli;
                                        bool czyUpdate = Operacje.Exists((o) => o.NazwaOperacji.Equals("t_" + nazwaTabeli + "_update"));
                                        bool czyInsert = Operacje.Exists((o) => o.NazwaOperacji.Equals("t_" + nazwaTabeli + "_insert"));
                                        bool czyDelete = Operacje.Exists((o) => o.NazwaOperacji.Equals("t_" + nazwaTabeli + "_delete"));
                                        <tr>
                                            <th><p style="font-size:15px"><b>Id</b></p></th>
                                            <th><p style="font-size:15px"><b>Imie</b></p></th>
                                            <th><p style="font-size:15px"><b>Nazwisko</b></p></th>
                                            <th><p style="font-size:15px"><b>Pesel</b></p></th>
                                            <th><p style="font-size:15px"><b>Wiek</b></p></th>
                                            <th><p style="font-size:15px"><b>Staz</b></p></th>
                                            <th><p style="font-size:15px"><b>Katedra</b></p></th>
                                            <th><p style="font-size:15px"><b>Tytuł</b></p></th>
                                            <th><p style="font-size:15px"><b>Wydział</b></p></th>
                                            @if (czyInsert)
                                            {
                                                <th><button type="button" onclick="Dodaj('@nazwaTabeli')">Dodaj Wpis</button></th>
                                            }
                                        </tr>
                                        for (int i = (numerStrony - 1) * 10; i < ProwadzacyList.Count && i < numerStrony * 10; i++)
                                        {
                                            <tr>
                                                <td><p style="font-size:15px">@ProwadzacyList[i].Id</p></td>
                                                <td><p style="font-size:15px">@ProwadzacyList[i].Imie</p></td>
                                                <td><p style="font-size:15px">@ProwadzacyList[i].Nazwisko</p></td>
                                                <td><p style="font-size:15px">@ProwadzacyList[i].Pesel</p></td>
                                                <td><p style="font-size:15px">@ProwadzacyList[i].Wiek</p></td>
                                                <td><p style="font-size:15px">@ProwadzacyList[i].Staz</p></td>
                                                <td><p style="font-size:15px">@ProwadzacyList[i].Katedra</p></td>
                                                <td><p style="font-size:15px">@ProwadzacyList[i].Tytul</p></td>
                                                <td><p style="font-size:15px">@ProwadzacyList[i].Wydzial</p></td>
                                                @if (czyDelete)
                                                {
                                                    <td><button type="button" onclick="Usun('@nazwaTabeli', @numerStrony, @ProwadzacyList[i].Id)">Usun</button></td>
                                                }
                                                @if (czyUpdate)
                                                {
                                                    <td><button type="button" onclick="Aktualizuj('@nazwaTabeli', @ProwadzacyList[i].Id)">Aktualizuj</button></td>
                                                }
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="100">
                                                @{

                                        for (int ile = 0, i = numerStrony - 3; ile < 3 && (numerStrony - 1) * 10 < ProwadzacyList.Count; ile++, i++)
                                        {
                                            if (i > 0)
                                            {
                                                <button type="button" onclick="PrzejdzDo('@nazwaTabeli', @i)">@i</button>
                                            }
                                        }
                                        <button style="background-color: dimgray" type="button" onclick="PrzejdzDo('@nazwaTabeli', @numerStrony)">@numerStrony</button>
                                        for (int ile = 0, i = numerStrony + 1; ile < 3 && (i - 1) * 10 < ProwadzacyList.Count; ile++, i++)
                                        {
                                            <button type="button" onclick="PrzejdzDo('@nazwaTabeli', @i)">@i</button>
                                        }
                                                }
                                            </td>
                                        </tr>
                                    }*@
                            
                                    break;
                                case "Wyniki":
                                    @*Operacje = (List<klient.Model.Operacja>)ViewBag.PrzywilejeDanejTabeliTabela;
                                    if (Operacje.Exists((o) => o.NazwaOperacji.Equals("t_" + nazwaTabeli + "_select")))
                                    {
                                        List<klient.Model.Wynik> WynikiList = (List<klient.Model.Wynik>)ViewBag.DaneTabeli;
                                        bool czyUpdate = Operacje.Exists((o) => o.NazwaOperacji.Equals("t_" + nazwaTabeli + "_update"));
                                        bool czyInsert = Operacje.Exists((o) => o.NazwaOperacji.Equals("t_" + nazwaTabeli + "_insert"));
                                        bool czyDelete = Operacje.Exists((o) => o.NazwaOperacji.Equals("t_" + nazwaTabeli + "_delete"));
                                        <tr>
                                            <th><p style="font-size:15px"><b>NrIndeksu</b></p></th>
                                            <th><p style="font-size:15px"><b>Przedmiot</b></p></th>
                                            <th><p style="font-size:15px"><b>Ocena</b></p></th>
                                            @if (czyInsert)
                                            {
                                                <th><button type="button" onclick="Dodaj('@nazwaTabeli')">Dodaj Wpis</button></th>
                                            }
                                        </tr>
                                        for (int i = (numerStrony - 1) * 10; i < WynikiList.Count && i < numerStrony * 10; i++)
                                        {
                                            <tr>
                                                <td><p style="font-size:15px">@WynikiList[i].NrIndeksu</p></td>
                                                <td><p style="font-size:15px">@WynikiList[i].Przedmiot</p></td>
                                                <td><p style="font-size:15px">@WynikiList[i].Ocena</p></td>
                                                @if (czyDelete)
                                                {
                                                    <td><button type="button" onclick="Usun2('@nazwaTabeli', @numerStrony, @WynikiList[i].NrIndeksu, '@WynikiList[i].Przedmiot')">Usun</button></td>
                                                }
                                                @if (czyUpdate)
                                                {
                                                    <td><button type="button" onclick="Aktualizuj2('@nazwaTabeli', @WynikiList[i].NrIndeksu, '@WynikiList[i].Przedmiot')">Aktualizuj</button></td>
                                                }
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="100">
                                                @{

                                        for (int ile = 0, i = numerStrony - 3; ile < 3 && (numerStrony - 1) * 10 < WynikiList.Count; ile++, i++)
                                        {
                                            if (i > 0)
                                            {
                                                <button type="button" onclick="PrzejdzDo('@nazwaTabeli', @i)">@i</button>
                                            }
                                        }
                                        <button style="background-color: dimgray" type="button" onclick="PrzejdzDo('@nazwaTabeli', @numerStrony)">@numerStrony</button>
                                        for (int ile = 0, i = numerStrony + 1; ile < 3 && (i - 1) * 10 < WynikiList.Count; ile++, i++)
                                        {
                                            <button type="button" onclick="PrzejdzDo('@nazwaTabeli', @i)">@i</button>
                                        }
                                                }
                                            </td>
                                        </tr>
                                    }*@
                                    break;
                                case "Przedmioty":
                                    @*Operacje = (List<klient.Model.Operacja>)ViewBag.PrzywilejeDanejTabeliTabela;
                                    if (Operacje.Exists((o) => o.NazwaOperacji.Equals("t_" + nazwaTabeli + "_select")))
                                    {
                                        List<klient.Model.Przedmiot> PrzedmiotyList = (List<klient.Model.Przedmiot>)ViewBag.DaneTabeli;
                                        bool czyUpdate = Operacje.Exists((o) => o.NazwaOperacji.Equals("t_" + nazwaTabeli + "_update"));
                                        bool czyInsert = Operacje.Exists((o) => o.NazwaOperacji.Equals("t_" + nazwaTabeli + "_insert"));
                                        bool czyDelete = Operacje.Exists((o) => o.NazwaOperacji.Equals("t_" + nazwaTabeli + "_delete"));
                                        <tr>
                                            <th><p style="font-size:15px"><b>Nazwa</b></p></th>
                                            <th><p style="font-size:15px"><b>Id prowadzącego</b></p></th>
                                            <th><p style="font-size:15px"><b>Semestr</b></p></th>
                                            <th><p style="font-size:15px"><b>Ilość ECTS</b></p></th>
                                            <th><p style="font-size:15px"><b>Ilość godzin</b></p></th>
                                            @if (czyInsert)
                                            {
                                                <th><button type="button" onclick="Dodaj('@nazwaTabeli')">Dodaj Wpis</button></th>
                                            }
                                        </tr>
                                        for (int i = (numerStrony - 1) * 10; i < PrzedmiotyList.Count && i < numerStrony * 10; i++)
                                        {
                                            <tr>
                                                <td><p style="font-size:15px">@PrzedmiotyList[i].Nazwa</p></td>
                                                <td><p style="font-size:15px">@PrzedmiotyList[i].IdProwadzacego</p></td>
                                                <td><p style="font-size:15px">@PrzedmiotyList[i].Semestr</p></td>
                                                <td><p style="font-size:15px">@PrzedmiotyList[i].IloscEcts</p></td>
                                                <td><p style="font-size:15px">@PrzedmiotyList[i].IloscGodzin</p></td>
                                                @if (czyDelete)
                                                {
                                                    <td><button type="button" onclick="Usun('@nazwaTabeli', @numerStrony, '@PrzedmiotyList[i].Nazwa')">Usun</button></td>
                                                }
                                                @if (czyUpdate)
                                                {
                                                    <td><button type="button" onclick="Aktualizuj('@nazwaTabeli', '@PrzedmiotyList[i].Nazwa')">Aktualizuj</button></td>
                                                }
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="100">
                                                @{

                                        for (int ile = 0, i = numerStrony - 3; ile < 3 && (numerStrony - 1) * 10 < PrzedmiotyList.Count; ile++, i++)
                                        {
                                            if (i > 0)
                                            {
                                                <button type="button" onclick="PrzejdzDo('@nazwaTabeli', @i)">@i</button>
                                            }
                                        }
                                        <button style="background-color: dimgray" type="button" onclick="PrzejdzDo('@nazwaTabeli', @numerStrony)">@numerStrony</button>
                                        for (int ile = 0, i = numerStrony + 1; ile < 3 && (i - 1) * 10 < PrzedmiotyList.Count; ile++, i++)
                                        {
                                            <button type="button" onclick="PrzejdzDo('@nazwaTabeli', @i)">@i</button>
                                        }
                                                }
                                            </td>
                                        </tr>
                                    }*@
                                    break;
                                case "ProwadzacySkladowych":
                                    @*Operacje = (List<klient.Model.Operacja>)ViewBag.PrzywilejeDanejTabeliTabela;
                                    if (Operacje.Exists((o) => o.NazwaOperacji.Equals("t_Prowadzacy_Skladowych_select")))
                                    {
                                        List<klient.Model.ProwadzacySkladowych> ProwadzacySkladowychList = (List<klient.Model.ProwadzacySkladowych>)ViewBag.DaneTabeli;
                                        bool czyUpdate = Operacje.Exists((o) => o.NazwaOperacji.Equals("t_Prowadzacy_Skladowych_update"));
                                        bool czyInsert = Operacje.Exists((o) => o.NazwaOperacji.Equals("t_Prowadzacy_Skladowych_insert"));
                                        bool czyDelete = Operacje.Exists((o) => o.NazwaOperacji.Equals("t_Prowadzacy_Skladowych_delete"));
                                        <tr>
                                            <th><p style="font-size:15px"><b>Id składowej</b></p></th>
                                            <th><p style="font-size:15px"><b>Id pracownika</b></p></th>
                                            @if (czyInsert)
                                            {
                                                <th><button type="button" onclick="Dodaj('@nazwaTabeli')">Dodaj Wpis</button></th>
                                            }
                                        </tr>
                                        for (int i = (numerStrony - 1) * 10; i < ProwadzacySkladowychList.Count && i < numerStrony * 10; i++)
                                        {
                                            <tr>
                                                <td><p style="font-size:15px">@ProwadzacySkladowychList[i].ID_Skladowej</p></td>
                                                <td><p style="font-size:15px">@ProwadzacySkladowychList[i].ID_Pracownika</p></td>
                                                @if (czyDelete)
                                                {
                                                    <td><button type="button" onclick="Usun2('@nazwaTabeli', @numerStrony, @ProwadzacySkladowychList[i].ID_Skladowej, '@ProwadzacySkladowychList[i].ID_Pracownika')">Usun</button></td>
                                                }
                                                @if (czyUpdate)
                                                {
                                                    <td><button type="button" onclick="Aktualizuj2('@nazwaTabeli', @ProwadzacySkladowychList[i].ID_Skladowej, '@ProwadzacySkladowychList[i].ID_Pracownika')">Aktualizuj</button></td>
                                                }
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="100">
                                                @{

                                        for (int ile = 0, i = numerStrony - 3; ile < 3 && (numerStrony - 1) * 10 < ProwadzacySkladowychList.Count; ile++, i++)
                                        {
                                            if (i > 0)
                                            {
                                                <button type="button" onclick="PrzejdzDo('@nazwaTabeli', @i)">@i</button>
                                            }
                                        }
                                        <button style="background-color: dimgray" type="button" onclick="PrzejdzDo('@nazwaTabeli', @numerStrony)">@numerStrony</button>
                                        for (int ile = 0, i = numerStrony + 1; ile < 3 && (i - 1) * 10 < ProwadzacySkladowychList.Count; ile++, i++)
                                        {
                                            <button type="button" onclick="PrzejdzDo('@nazwaTabeli', @i)">@i</button>
                                        }
                                                }
                                            </td>
                                        </tr>
                                    }*@
                                    break;
                                case "SkladowePrzedmiotow":
                                    @*Operacje = (List<klient.Model.Operacja>)ViewBag.PrzywilejeDanejTabeliTabela;
                                    if (Operacje.Exists((o) => o.NazwaOperacji.Equals("t_Skladowe_Przedmiotow_select")))
                                    {
                                        List<klient.Model.SkladowaPrzedmiotu> SkladowePrzedmiotowList = (List<klient.Model.SkladowaPrzedmiotu>)ViewBag.DaneTabeli;
                                        bool czyUpdate = Operacje.Exists((o) => o.NazwaOperacji.Equals("t_Skladowe_Przedmiotow_update"));
                                        bool czyInsert = Operacje.Exists((o) => o.NazwaOperacji.Equals("t_Skladowe_Przedmiotow_insert"));
                                        bool czyDelete = Operacje.Exists((o) => o.NazwaOperacji.Equals("t_Skladowe_Przedmiotow_delete"));
                                        <tr>
                                            <th><p style="font-size:15px"><b>Id</b></p></th>
                                            <th><p style="font-size:15px"><b>Nazwa</b></p></th>
                                            <th><p style="font-size:15px"><b>Ilość godzin</b></p></th>
                                            <th><p style="font-size:15px"><b>Przedmiot</b></p></th>
                                            <th><p style="font-size:15px"><b>Id odpowiedzialnego</b></p></th>
                                            @if (czyInsert)
                                            {
                                                <th><button type="button" onclick="Dodaj('@nazwaTabeli')">Dodaj Wpis</button></th>
                                            }
                                        </tr>
                                        for (int i = (numerStrony - 1) * 10; i < SkladowePrzedmiotowList.Count && i < numerStrony * 10; i++)
                                        {
                                            <tr>
                                                <td><p style="font-size:15px">@SkladowePrzedmiotowList[i].Id</p></td>
                                                <td><p style="font-size:15px">@SkladowePrzedmiotowList[i].Nazwa</p></td>
                                                <td><p style="font-size:15px">@SkladowePrzedmiotowList[i].IloscGodzin</p></td>
                                                <td><p style="font-size:15px">@SkladowePrzedmiotowList[i].Przedmiot</p></td>
                                                <td><p style="font-size:15px">@SkladowePrzedmiotowList[i].IdOdpowiedzialnego</p></td>
                                                @if (czyDelete)
                                                {
                                                    <td><button type="button" onclick="Usun('@nazwaTabeli', @numerStrony, @SkladowePrzedmiotowList[i].Id)">Usun</button></td>
                                                }
                                                @if (czyUpdate)
                                                {
                                                    <td><button type="button" onclick="Aktualizuj('@nazwaTabeli', @SkladowePrzedmiotowList[i].Id)">Aktualizuj</button></td>
                                                }
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="100">
                                                @{

                                        for (int ile = 0, i = numerStrony - 3; ile < 3 && (numerStrony - 1) * 10 < SkladowePrzedmiotowList.Count; ile++, i++)
                                        {
                                            if (i > 0)
                                            {
                                                <button type="button" onclick="PrzejdzDo('@nazwaTabeli', @i)">@i</button>
                                            }
                                        }
                                        <button style="background-color: dimgray" type="button" onclick="PrzejdzDo('@nazwaTabeli', @numerStrony)">@numerStrony</button>
                                        for (int ile = 0, i = numerStrony + 1; ile < 3 && (i - 1) * 10 < SkladowePrzedmiotowList.Count; ile++, i++)
                                        {
                                            <button type="button" onclick="PrzejdzDo('@nazwaTabeli', @i)">@i</button>
                                        }
                                                }
                                            </td>
                                        </tr>
                                    }*@
                                    break;
                            }
                        }
                        </table>
                    }
                </td>
            </tr>
        </table>
    </div>
}