<style>
    .tablesize {
        margin-left: 5%;
        margin-right: 5%;
    }

    .detailsheader {
        background-color: white;
    }

    .headertekst {
        font-size: 20px;
        margin-left: 3%;
    }
    .bladtekst {
        color: red;
        font-size: 20px;
    }
</style>
<script>
    function Zaloguj() {
        var login = document.getElementById("login").value;
        var haslo = document.getElementById("haslo").value;
        var rola = document.getElementById("rola").value;
        if (login.length > 0 && haslo.length > 0 && rola.length >0) {
            window.location.href = "../../../Home/WeryfikujLogowanie/" + login + "/" + haslo + "/" + rola;
        } 
        else {
            alert("puste pola");
        }
    }
    function Wyloguj()
    {
        window.location.href = "../../../Home/Wylogowywanie";
    }
</script>
@{
    <div class="detailsheader">
    @if ((klient.Model.Uzytkownik)ViewBag.Uzytkownik == null)
    {
        <p class="headertekst"><b>Logowanie</b></p>
    }
    else
    {
        klient.Model.Uzytkownik Uzytkownik = (klient.Model.Uzytkownik)ViewBag.Uzytkownik;
        klient.Model.Rola Rola = (klient.Model.Rola)ViewBag.Rola;
        <p style="font-size:15px"><b>Uzytkownik: @Uzytkownik.NazwaUzytkownika Rola: @Rola.Nazwa </b></p>
        <button type="button" onclick="Wyloguj()">Wyloguj</button>
    }
    </div>
    <div class="tablesize">
        <table>
            <tr>
                <td>
                    @if ((klient.Model.Uzytkownik)ViewBag.Uzytkownik == null)
                    {
                        if (ViewBag.Blad != null)
                        {
                            string Blad = (string)ViewBag.Blad;
                            <p class="bladtekst"><b>@Blad</b></p>
                        }
                        <p style="font-size:15px"><b>Login: <input id="login" type="text" name="fname"> </b></p>
                        <p style="font-size:15px"><b>Haslo: <input id="haslo" type="password" name="fname"> </b></p>
                        {
                                System.Collections.ObjectModel.ObservableCollection<klient.Model.Rola> Role = (System.Collections.ObjectModel.ObservableCollection<klient.Model.Rola>)ViewBag.Role;
                                if (Role != null)
                                {
                                    <p style="font-size:15px"><b>Rola: <select id="rola">
                                    @for (int i = 0; i < Role.Count; i++)
                                    {
                                        <option value="@Role[i].Nazwa">@Role[i].Nazwa</option>
                                    }
                                    </select></b></p>
                                }
                                else
                                {
                                    <p style="font-size:15px"><b>Blad - dane o istniejacych rolach nie zostaly wczytane </b></p>
                                }
                        }
                    }
                    else
                    {
                        
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @if ((klient.Model.Uzytkownik)ViewBag.Uzytkownik == null)
                    {
                        <button type="button" onclick="Zaloguj()">Zaloguj</button>
                    }
                </td>
            </tr>
        </table>
    </div>
}